[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.100"
pydantic = "==1.10.*"
alembic = "==1.8.*"
python-dotenv = "*"
fastapi-demo = {file = ".", editable = true}
asyncpg = "*"
sqlalchemy = {extras = ["asyncio"] }
psycopg2-binary = "*"
argon2-cffi = "*"
python-jose = {extras = ["cryptography"], version = "*"}

[requires]
python_version = "3.10"

[dev-packages]
uvicorn = "*"
